# ESP32-S3 AI Robot defaults
CONFIG_IDF_TARGET="esp32s3"
CONFIG_SPIRAM=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_LV_FONT_SIMSUN_16_CJK=y
